#header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 10%;
    padding-top: 1rem;

    & #logo{
        margin-top: 1rem;
        font-size: 2rem;
        color:var(--logo) ;
        
    }


    & #header-right{
        display: flex;
         
        & a{
            padding-inline: 30px;
            color: var(--bodyfont);
           border: solid .44px ;
           border-radius: 55px;
           padding: .44rem 1rem ;
           margin: 1rem;
           text-decoration: none;
        }
        & a:hover{
            color: white;
            background-color: rgb(49, 48, 48);
            &.fa-solid{
                color: white;
            }
        }
        
        
        & #cart{
            position: relative;


            & #cart-number{
                position: absolute;
                background-color: rgb(240, 31, 31);
                height: 15px;
                width: 15px;
                border-radius: 50%;
                display: flex;
                right: 0;
                right: 7px;
                top: -5px;
            }
            
        }

       

    }
    

}


@media(width<700px){
    #header-container{
        padding-inline: 0rem;
        
        & #logo{
            text-align: center;
        }

        
    }
}

@media(width<560px){
    #header-container{
        padding-inline: 0rem;
        
        & #logo{
            text-align: center;
        }

        & #header-right a{
            margin-inline: 3px;

        }
    }
}

@media(width<480px){
   #header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
   
   }
  
}





    

